html, body {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
}

.container {
	display: flex;
  height: 100%;
	flex-direction: column;
	background-color: red;
}

/* navbar */

.nav-bar {
	display: flex;
  justify-content: space-between;
	background-color: #0078D7;
  color: #FFF;
}

.nav-bar-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  padding: 15px;
}

.nav-bar-group > .icon:hover {
  background-color: #005A9E;
}

#app-name {
  font-size: 17px;
  margin: 0 30px;
}

#search input {
  background-color: #B3D7F3;
  border: 1px solid #0078D7;
  border-radius: 4px;
  padding: 5px;
  color: #333;
}

/* message bar */

.message-bar {
  display: flex;
  flex-direction: row;
	background-color: #F4F4F4;
  color: #5084AA;
}

.new-message {
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.new-message:hover {
  background-color: #C7E0F4;
}

.message-bar > .icon:hover {
  background-color: #C7E0F4;
}

/* content */

.content {
  display: flex;
  /*justify-content: space-around;*/
  flex-direction: row;
  flex: 1;
}

/* icons bar */

.icons-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #F4F4F4;
  color: #005A9E;
}

.icons-bar > .icon:hover {
  background-color: #C7E0F4;
}

/* folders */

.folders {
  background-color: #F4F4F4;
}

.folder-list {
  display: flex;
  flex-direction: row;
  padding: 5px;
  padding-right: 30%;
  align-items: center;
  color: #333;
  font-weight: 400;
  font-size: 14px;
}

.folder-list.link {
  color: #005A9E;
  padding: 10px 0 10px 30px;
}

.folder-list.folder:hover {
  background-color: #EAEAEA;
  color: #000;
}

.folder-list.title:hover {
  color: #000;
}

.folder-list > .icon {
  color: #666;
  padding: 10px 15px;
}

.folder-list:hover > .icon {
  color: #000;
}

.folder-title {
  font-size: 17px;
  margin-left: 10px;
}

.folder-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  color: #077BD8;
  margin-right: 5px;
}

.filter {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: row;
  margin: 10px;
  width: 100%;
  align-items: center;
}

/* message list */

.message-list {
  background-color: #FFF;
  border: 1px solid #EAEAEA;
  width: 30%;
}

.message-day {
  background-color: #F8F8F8;
  border-bottom: 1px solid #EAEAEA;
  border-top: 1px solid #EAEAEA;
  font-size: 14px;
  padding: 10px;
}

.message {
  padding: 10px 30px;
  border-bottom: 1px solid #EAEAEA;
  font-size: 12px;
  word-wrap: break-word;
}

.message:hover {
  background-color: #EAEAEA;
}

.message-text {
  color: #666;
}

/* message panel */

.message-panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #F8F8F8;
  padding: 0 5px;
}

.message-panel-title {
  margin: 20px;
}